# Ignore these files

.DS_Store

data-12-1-2-resources.zip
data-12-1-2-resources

.Rhistory

test

data-12-2-2-resources.zip
data-12-2-2-resources

data-12-3-2-resources.zip
data-12-3-2-resources

spaceX